@import "fonts.css";
*{ user-select: none; }
.Image {
    pointer-events: none;
    min-height: 75vh;
    max-height: 90vh;
}
#root { height: max-content; }
body {
    background: url("pictures/background.png") fixed;
    background-size: 100% 100%;
    color: rgba(0, 24, 88, 1);
    font-family: 'Inter';
}
.Part {
    display: flex;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    flex-direction: column;
    align-content: center;
}
.Text {
    position: relative;
    min-width: 45%;
    max-width: 80%;
    height: max-content;
    margin: auto;
    text-align: justify;
    color: white;
}
.Header {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    top: 6vmin;
    width: 100vw;
    height: max-content;
    z-index: 5;
    color: white;
}
.Block {
    align-content: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    margin: auto auto;
    overflow: hidden;
    justify-content: center;
}
.Hello p {
    text-align: center;
    position: relative;
    margin: 0 auto;
    font-size: 5vmin;
    line-height: 1em;
}
.Hello b {
    font-size: 12.7vmin;
    line-height: 1em;
}
.Header p {
    width: max-content;
    border-bottom: .4rem rgba(0, 24, 88, 1) solid;
    font-size: 3rem;
    line-height: 2.3rem;
    font-weight: bold;
}
.About .Image { width: 20vw; }
.About img {
    position: relative;
    margin: auto;
    float: left;
}
.About .Text {
    height: 50%;
    min-width: 45vw;
    width: 25rem;
    max-width: 80vw;
}
.About .Text p{
    margin: auto;
    width: content-box;
    font-size: 25px;
    line-height: 38px;
}
.Links {
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}
.Links img{
    margin-top: 1%;
    margin-right: 1.5vmin;
    position: relative;
    height: 5.2vmin;
    filter: invert(100%);
    -webkit-filter:invert(100%);
}
.Skills .image {
    margin: auto;
}
.Project {
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 1vh auto;
}
.Projects .Block {
    justify-content: center;
    height: 85%;
    flex-wrap: wrap-reverse;
}
.Project div {
    margin: 3rem auto 0 auto;
    padding: auto;
    width: max-content;
    height: max-content;
}
.Project .Header {
    margin: 0 auto;
    font-size: 35px;
    height: max-content;
}
.Project .Header p{
    border-bottom: none;
    width: 100%;
}
.Project img {
    position: relative;
    width: 380px;
    max-width: 80vw;
    margin: 0 auto;
}
.Project .Text {
    margin: .5em auto auto auto;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}
.Project .Image {
    display: block;
    height: 5px;
}
@media all and (orientation: portrait) { .Image { display: none; } }
@media all and (max-width: 760px) { .Image { display: none; } }